body, html, #root, .App{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F2E3D5;
  font-family: 'Poppins', sans-serif;
  user-select: none;
} 

.home-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-container a{
  width: 20%;
  background-color: #3CA6A6;
  margin: 0 4vh;
  font-size: 5vh;
  text-decoration: none;
  color: #F2E3D5;
  padding: 3vh;
  text-align: center;
  border-radius: 5px;
}
.link-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-title{
  font-size: 7vh;
  color: #3CA6A6;
  margin-bottom: 10vh;
  font-weight: 600;
}
.plan-container{
  width: 100%;
  

}
.main-plan-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.btn-map-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  width: 50%;
}
.btn-map{
  background-color: #3CA6A6;
  color: #F2E3D5;
  border-radius: 5px;
  padding: 1vh;
  font-size: 2vh;
  width: 40%;
  margin: 1vh 0;
  text-align: center;
  cursor: pointer;
}

.active{
  background-color: #026773;
}

path{
  cursor: pointer;
}


.retour-btn{
  font-size: 3vh;
  background-color: #3CA6A6;
  padding: 1vh 2vh;
  border-radius: 3px;
  width: fit-content;
  margin: 2% 0 0 2%;
  cursor: pointer;
  transition: all 0.2s ;
}
.retour-btn:hover{
  transform: scale(1.1);
}
.map-svg-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
#svg1651{
  background-color: whitesmoke;
  padding: 2vh;
  border: 2px black solid;
  margin-top: 2%;

}

#path2530::after{
  content: "TEST";
  font-size: 3vh;
  color: black;
  
}



/* |==== { Components Enregistrer } ====| */

h4 {
    text-align:center;
    font-size: 34px;
}

.Container_Enregistrement{
    font-size: 24px;
    width: 100%;
    height: 30vh;
    margin-top: 5%;
    position: relative;
}

.Bandeau {
    width: 100%;
    height: 100%;
    background: no-repeat center url("./img/Bandeau.png");
    background-size: cover;
}

.Container_Formulaire {
    width: 100%;
    height: 50vh;
    border: solid 2px #3CA6A6;
}


.Debut_Formulaire {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Option_formation {
    width: 50%;
    display: flex;
    flex-direction:column;
}

.Part1 {
    margin-left: 15%;
    margin-bottom: 2%;
    width: 100%;
    display: flex;
}

.Part2 {
    width: 100%;
    display: flex;
}


.Box_Checkbox {
    margin-left: 3%;
}

.Milieu_Formulaire{
    width: 100%;

    border: solid 2px red;
}
/* |==== { Body Scroll bar } ====| */
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: #CCCCCC;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #CCC;
}

body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #3CA6A6;
    background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
}